
body{
    font-family: 'Playfair Display', sans-serif;
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    height: 230%;

}

/* ===================== Nav ===================== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
    background: linear-gradient(65deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}

nav a{
    font-weight: bold;
    margin-right: 1.5rem;
    color: ghostwhite;
    text-decoration: none;
}

nav a:hover{
    color: dimgrey;
}

.logo {
    float:left;
    width: 50px;
}

/* ===================== Page: Main ===================== */

main{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

footer{
    padding-left: 20px;
    padding-right: 20px;
}

/* ===================== Page: Login ===================== */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.loginMail{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 50px;
}

.loginPass{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loginValider button{
    height: 70px;
    width: 130px;
    margin-top: 20px;
    background: linear-gradient(75deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}
.loginValider button:hover{
    color: ghostwhite;

    font-size: 1.2em;
    background-color: #999999;
}

.loginValider{
    display: flex;
    justify-content: space-between;
    width: 300px;

}

.loginOption{
    display: flex;
    flex-direction: column;
    width: 145px;
}

.rememberMe{
    display: flex;
}


/* ===================== Page: Mon Profil ===================== */

.profil{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    justify-content: space-between;
}


.profilForm button{
    height: 70px;
    width: 100px;
    margin-top: 20px;
    background: linear-gradient(65deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}
.profilForm a{
    text-decoration: none;
    color: black;
}

label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 60%;

}

#mailCache{
    display: none;
}

/* ===================== Messages d'Erreur ===================== */

/* label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150px;
    max-width: 50%;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success {background-color: darkolivegreen}*/


/* ===================== Responsive ===================== */

@media only screen and (max-width: 480px) {
    body{
        padding: 2%;
    }
    nav{
        margin: 1%;
        font-size: 0.7em;
    }
}


