/* ===================== Valeurs par defaut ===================== */

input{
    border-radius: 15px;
    border: #999999 solid 2px;
    padding-left: 10px;
    padding-right: 10px;

}
input:hover{
    color: forestgreen;
    border-color: forestgreen;
}

label{
    margin-left: 10px;
    margin-bottom: 5px;

    font-weight: bold;
}

select{
    border-radius: 15px;
    border: #999999 solid 2px;
    padding-left: 10px;
}

select:hover{
    color: forestgreen;
    border-color: forestgreen;
}
textarea{
    border-radius: 15px;
    border: #999999 solid 2px;
    padding-left: 10px;
}

textarea:hover{
    color: forestgreen;
    border-color: forestgreen;
}

button{
    width: 100px;
    height: 50px;
    background: linear-gradient(75deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;
}

button:hover{
    color: forestgreen;
    border-color: forestgreen;
}
.boutonAjouter{
    width:40px;
    height:40px;
    background:white;
    text-align:center;
    overflow:hidden;
    font-size:1.5em;
    color:#fff;
    border-radius:50px;
}

#sortie_form_ville {
    width:auto;
}

#sortie_form_Lieu {
    width:auto;
}

.AjouterVilleEtLieu{
    display:flex;
    flex-direction: row;
}

.motifAnnulation{
    color: red;
    font-size: 30px;
}



/* ===================== Messages d'Erreur ou Success ===================== */


.flash {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.flash-success {color: forestgreen}
.flash-alert {color: darkred}


/* ===================== Body ===================== */

body{
    font-family: 'Playfair Display', sans-serif;
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    height: 230%;

}

/* ===================== Nav ===================== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 10px;
    background: linear-gradient(65deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}

nav a{
    font-weight: bold;
    margin-right: 1.5rem;
    color: ghostwhite;
    text-decoration: none;
}

nav a:hover{
    color: forestgreen;
}

.logo {
    float:left;
    width: 50px;
}

/* ===================== Page: Main ===================== */

main{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

footer{
    padding-left: 20px;
    padding-right: 20px;
}

input[type=checkbox]{
    float: left;
}

#tableHome{
    border: solid black 2px;
}
#trHome{
    border: solid black 2px;
}

#asideHome{
    float: right;
    font-weight: bolder;
    color: forestgreen;
}

.check-with-label:checked + .label-for-check {
    font-weight: bold;
}

/* ===================== Page: Login ===================== */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.loginMail{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 50px;
}

.loginPass{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#loginValider button{
    height: 70px;
    width: 130px;
    margin-top: 15px;
    background: linear-gradient(75deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}
#loginValider button:hover{
    color: forestgreen;
    font-size: 1.2em;
    border-color: forestgreen;

}

#loginValider{
    display: flex;
    width: 300px;
    align-items: center;

}

#loginOption{
    display: flex;
    flex-direction: column;
    width: 145px;
    font-size: 0.9rem;
    margin-top: 15px;
}

#loginOption input{
    display: flex;
    width: 30px;
}

#rememberMe{
    width: 250px;
}

#rememberMe label{
    display: flex;
    width: 200px;
}

#forgotPsw{
    width: 200px;
    margin-left: 35px;
    font-family:"Times New Roman", sans-serif;
}
#forgotPsw a:hover{
    color: forestgreen;
}



/* ===================== Page: Mon Profil ===================== */

.profil{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
    justify-content: space-between;
}


.profilForm button{
    height: 70px;
    width: 100px;
    margin-top: 20px;
    background: linear-gradient(65deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;

}
.profilForm a{
    text-decoration: none;
    color: black;
}

label {
    display: block;
}

input,
textarea,
select {
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 60%;

}

#mailCache{
    display: none;
}

#photoProfil{

    max-width: 200px;
}
.boutonModifier {
    height: 50px;
    width: 100px;
    background: linear-gradient(65deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;
}

.boutonModifier > a {
    text-decoration: none;
}

/* ===================== Afficher sortie ===================== */

#sortieGauche{
    float: left;
    padding-left: 10%;
}
#sortieDroite{
    float: right;
    padding-right: 30%;
}

#sortieParticipants{
    float: left;
    margin-top: 45px;
}
#sortieDesister:hover{
    color: darkred;
    border-color: darkred;
}


.resultat tbody tr:nth-child(odd){
    background-color: lightgray;
}
.resultat thead tr{
    text-align: center;
    background-color: darkgray;
    color: darkblue;
}
.resultat, .resultat td{
    border: solid black 2px;
    border-collapse: collapse;
    width: 210px;
    margin-bottom: 20px;

}

#tableHome{
    width: 100%;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}
#tableHome tbody tr:nth-child(odd){
    background-color: rgba(34,139,34, 0.5);
}

#trTitres{
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    background-color: forestgreen;
}
#logoCheck{
    max-width: 15px;
}

#tableAdminHome{
    width: 100%;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}
#tableAdminHome tbody tr:nth-child(odd){
    background-color: rgba(34,139,34, 0.5);
}

#trAdminTitres{
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    background-color: white;
}

.adminTd{
    border: solid black 2px;
    border-collapse: collapse;
    width: 210px;
    margin-bottom: 20px;

}
#logoCroix{
    max-width: 25px;
}

#logoCheckAdmin{
    max-width: 25px;
}

button > .adminButton {
    background-color: transparent;
    font-size: 20px ;
}

.adminButton {
    background: transparent;
    border: none;
}

.adminButtonTd {
    border: solid black 2px;
    border-collapse: collapse;
    width: 210px;
    margin-bottom: 20px;
    width: 20px;
}
/* ===================== Filtres de sorties ===================== */

#articleRecherche{
    display: flex;
    width: 100%;
}
#searchSorties{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

#choixRecherche{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#choixRecherche input{
    width: 90%;
    border-radius: 15px;
    border: #999999 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#choixRecherche input:hover{
    color: forestgreen;
    border-color: forestgreen;
}

#choixRecherche label{
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#choixRecherche select{
    width: 90%;
    border-radius: 15px;
    border: #999999 solid 2px;
    padding-left: 10px;
}

#choixRecherche select:hover{
    color: forestgreen;
    border-color: forestgreen;
}

#choixFiltres{
    display: flex;
    flex-direction: column;
    width: 45%;
}
#choixFiltres label{
    color: black;
}

#choixFiltres input:checked + label{
    color: forestgreen;
}

#choixFiltres div{
    display: flex;
}

#choixFiltres input{
    width: 10%;
}

#choixFiltres label{
    font-size: 0.7rem;
    width: 85%;
}

#buttonRecherche{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 120px;
}

#buttonRecherche button{
    width: 100px;
    height: 50px;
    background: linear-gradient(75deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;
}
#buttonRecherche button:hover{
    color: forestgreen;
    border-color: forestgreen;
}

#buttonCreate{
    width: 150px;
    height: 50px;
    background: linear-gradient(75deg, ghostwhite, lightgrey);
    border-radius: 15px;
    border: #999999 solid 2px;
    margin-top: 5px;
}
#buttonCreate:hover{
    color: forestgreen;
    border-color: forestgreen;
}

#creationBoutons{
    display: flex;
    margin-top: 5px;
}
#creationBoutons button{
    margin-right: 5px;
}
#btnAnnuler:hover{
    color: darkred;
    border-color: darkred;
}


/* ===================== Responsive ===================== */

@media only screen and (max-width: 480px) {
    body{
        padding: 2%;
        margin: 0;
    }
    nav{
        margin: 1%;
        font-size: 0.7em;
    }

}


