<nav>

        {# {% if app.user %} #}
        <a href="#">Accueil</a>
        <a href="#">Mon profil</a>
        <a href="#">Se Déconnecter</a>
{#{% if app.user.role = role-admin %}#}
        <a href="#">Villes</a>
        <a href="#">Campus </a>
   {# {% else %}#}
        <a href="#">Se connecter</a>
        <a href="{{ path('app_register') }}">Créer un compte</a>
{#  {% endif %}#}
</nav>